@import '../../variables/variables.scss';

.button {
    cursor: pointer;
    color: $black_color;
    background-color: $main_color;
    border-radius: $small_border_radius;
    border: 2px solid $black_color;
    padding: 15px 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: $big_text_size;
    margin-top: 30px;
    display: block;
    width: fit-content;
    animation: floating infinite 3s ease-in-out;
    &:hover {
        color: $main_color;
        background-color: $black_color;
        border: 2px solid $main_color;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}