$main_color: #f2aa4c;
$black_color: #101820;
$white_color: #FDFDFD;

$small_text_size: 16px;
$normal_text_size: 18px;
$big_text_size: 24px;
$large_text_size: 32px;
$title_size: 70px;


$small_border_radius: 6px;
$big_border_radius: 12px;
